body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  box-sizing: border-box;
  outline: 0;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
}

.sidebar {
  width: 320px;
  min-width: 320px;
  border-right: 1px solid #ccc;
  padding: 25px;
  .logo {
    margin-bottom: 25px;
    a {
      font-size: 30px;
    }
  }
  .description {
    font-size: 18px;
    line-height: 1.7;
    color: #999;
    margin-bottom: 25px;
  }
  .menu {
    ul {
      li {
        a {
          display: block;
          font-size: 18px;
          color: #333;
        }
      }
    }
  }
}

.about-modal {
  max-width: 720px;
  background-color: #fff;
  box-shadow: 0 0 15px 5px rgba(#000, 0.1);
  padding: 50px;

  h3 {
    font-size: 25px;
    margin-bottom: 25px;
  }

  p {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 15px;
    color: #555;
  }
}

.about-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
