body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  box-sizing: border-box;
  outline: 0;
  text-decoration: none;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
}

.sidebar {
  width: 320px;
  min-width: 320px;
  border-right: 1px solid #ddd;
  padding: 25px;
  .logo {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 25px;
      color: #333;
      img {
        margin-right: 8px;
      }
      &:hover {
        color: #0099e5;
      }
    }
  }
  .description {
    font-size: 15px;
    line-height: 1.7;
    color: #888;
    margin-bottom: 25px;
  }
  .menu {
    ul {
      li {
        a {
          display: block;
          font-size: 18px;
          color: #111;
          font-weight: bold;
          cursor: pointer;
          &:hover {
            color: #0099e5;
          }
        }
      }
    }
  }
  hr {
    margin: 15px 0;
    height: 1px;
    background: #e0e0e0;
  }
  .external-link {
    span {
      display: block;
      color: #111;
      margin-bottom: 6px;
      font-size: 14px;
    }
    p {
      color: #aaa;
      font-size: 13px;
    }
    &:hover {
      p {
        color: #0099e5;
      }
    }
  }
}

.about-modal {
  max-width: 720px;
  background-color: #fff;
  box-shadow: 0 0 15px 5px rgba(#000, 0.1);
  padding: 50px;
  position: relative;

  h3 {
    font-size: 25px;
    margin-bottom: 25px;
  }

  p {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 15px;
    color: #555;
  }

  .modal-close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}

.about-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copied {
  position: fixed;
  bottom: 20px;
  right: 30px;
  background-color: var(--bgColor);
  color: var(--textColor);
  padding: 10px 15px;
  border-radius: 3px;
  font-size: 13px;
  z-index: 9999;
}
.content {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  .header {
    height: 60px;
    border-bottom: 1px solid #ddd;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    .search {
      flex: 1;
      position: relative;
      .icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 60px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          width: 20px;
          height: 20px;
        }
      }
      input {
        width: 100%;
        height: 100%;
        font-size: 16px;
        padding: 0 20px 0 60px;
      }
    }
    .back-btn {
      background: transparent;
      margin-left: 20px;
      font-weight: 500;
      font-size: 20px;
      color: #444;
      display: flex;
      align-items: center;
      svg {
        margin-right: 8px;
        display: block;
        font-size: 18px;
      }
      &:hover {
        color: #999;
        path {
          stroke: #999;
        }
      }
    }

    .download {
      padding-right: 25px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      .actions {
        display: flex;
        margin-right: 15px;
        a,
        button {
          height: 30px;
          width: 40px;
          background-color: transparent;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          svg {
            height: 20px;
            width: 18px;
            color: #999;
            &:hover {
              color: #333;
            }
          }
        }
        select {
          height: 30px;
          padding: 0 10px 0 15px;
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
          color: #999;
          appearance: none;
          cursor: pointer;
          margin: 0 10px;
          border-radius: 3px;
          transition: all 0.15s ease-out;
          &:hover {
            color: #333;
            box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
          }
        }
      }
      .selected {
        font-size: 13px;
        font-weight: 500;
        color: #999;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          font-size: 30px;
          margin-right: 5px;
        }
        &:hover {
          color: #333;
        }
      }
    }
  }

  .brands {
    height: calc(100% - 60px);
    width: 100%;
    .brand {
      border: 1px solid #ccc;
      background-color: #fff;
      padding: 15px;
      margin: 10px 15px;
      h5 {
        font-size: 18px;
        margin-bottom: 10px;
        cursor: pointer;
      }
      &-colors {
        display: flex;
        span {
          cursor: pointer;
          background-color: var(--bgColor);
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          font-weight: 500;
          color: var(--textColor);
          text-indent: -9999px;
          width: 60px;
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
          margin-right: 10px;
          svg {
            font-size: 22px;
            display: none;
          }
          &:hover {
            svg {
              display: block;
            }
          }
        }
      }
      &.selected {
        border-color: red;
        .brand-colors {
          span {
            flex: 1;
            &:hover {
              text-indent: 5px;
              svg {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}
